n8n-telegram-bot-workflow.json
{
  "name": "Твой Вектор — Telegram-бот для репетитора",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [220, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "/start",
              "operation": "equals",
              "value2": ""
            },
            {
              "value": "/today",
              "operation": "equals",
              "value2": ""
            },
            {
              "value": "/students",
              "operation": "equals",
              "value2": ""
            },
            {
              "value": "/homework",
              "operation": "equals",
              "value2": ""
            },
            {
              "value": "/stats",
              "operation": "equals",
              "value2": ""
            },
            {
              "value": "/next",
              "operation": "equals",
              "value2": ""
            }
          ]
        },
        "fallbackOutput": "extra",
        "dataPropertyName": "={{$json.message.text}}"
      },
      "id": "switch-command",
      "name": "Определить команду",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "👋 Привет! Я бот платформы *Твой Вектор*.\n\nДоступные команды:\n\n📅 /today — расписание на сегодня\n👥 /students — список учеников\n📝 /homework — домашка на проверку\n📊 /stats — статистика\n⏰ /next — следующее занятие\n\n_Для работы бота нужно получить API-токен в настройках профиля на сайте._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-start",
      "name": "Приветствие",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [740, 40],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.APP_URL}}/api/bot/today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Bot-Token",
              "value": "={{$env.BOT_API_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-today",
      "name": "Получить расписание",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst lessons = data.lessons || [];\n\nif (lessons.length === 0) {\n  return [{ json: { text: '📅 *Расписание на сегодня*\\n\\nНа сегодня занятий нет. Отдыхайте! 🎉' } }];\n}\n\nlet text = `📅 *Расписание на ${data.date}*\\n\\n`;\ntext += `Всего занятий: *${lessons.length}*\\n\\n`;\n\nconst statusEmoji = {\n  pending: '🟡',\n  completed: '✅',\n  cancelled: '❌',\n  rescheduled: '🔄'\n};\n\nfor (const l of lessons) {\n  const emoji = statusEmoji[l.status] || '⏳';\n  text += `${emoji} *${l.time}* — ${l.student}\\n`;\n  text += `   📚 ${l.subject} · ${l.topic}\\n`;\n  text += `   ⏱ ${l.duration} мин\\n\\n`;\n}\n\nreturn [{ json: { text } }];"
      },
      "id": "format-today",
      "name": "Форматировать расписание",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-today",
      "name": "Отправить расписание",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.APP_URL}}/api/bot/students",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Bot-Token",
              "value": "={{$env.BOT_API_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-students",
      "name": "Получить учеников",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 380]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst students = data.students || [];\n\nif (students.length === 0) {\n  return [{ json: { text: '👥 *Ученики*\\n\\nСписок учеников пуст.' } }];\n}\n\nlet text = `👥 *Ученики (${students.length})*\\n\\n`;\n\nfor (let i = 0; i < students.length; i++) {\n  const s = students[i];\n  text += `*${i + 1}. ${s.name}*\\n`;\n  text += `   📚 ${s.subject}`;\n  if (s.grade) text += ` · ${s.grade}`;\n  text += `\\n`;\n  if (s.goal) text += `   🎯 ${s.goal}\\n`;\n  text += `   ✅ ${s.lessonsCompleted || 0} занятий проведено\\n\\n`;\n}\n\nreturn [{ json: { text } }];"
      },
      "id": "format-students",
      "name": "Форматировать учеников",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-students",
      "name": "Отправить учеников",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 380],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.APP_URL}}/api/bot/homework",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Bot-Token",
              "value": "={{$env.BOT_API_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-homework",
      "name": "Получить домашку",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 560]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst homework = data.homework || [];\n\nif (homework.length === 0) {\n  return [{ json: { text: '📝 *Домашка на проверку*\\n\\nВсё проверено! Новых работ нет. 🎉' } }];\n}\n\nlet text = `📝 *Домашка на проверку (${homework.length})*\\n\\n`;\n\nfor (let i = 0; i < homework.length; i++) {\n  const h = homework[i];\n  text += `*${i + 1}. ${h.title}*\\n`;\n  text += `   👤 ${h.student}\\n`;\n  if (h.deadline) {\n    const d = new Date(h.deadline);\n    text += `   📅 Дедлайн: ${d.toLocaleDateString('ru-RU')}\\n`;\n  }\n  text += `\\n`;\n}\n\nreturn [{ json: { text } }];"
      },
      "id": "format-homework",
      "name": "Форматировать домашку",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 560]
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-homework",
      "name": "Отправить домашку",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 560],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.APP_URL}}/api/bot/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Bot-Token",
              "value": "={{$env.BOT_API_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-stats",
      "name": "Получить статистику",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 740]
    },
    {
      "parameters": {
        "jsCode": "const s = $input.first().json;\n\nconst formatMoney = (amount) => {\n  return amount.toLocaleString('ru-RU') + ' ₽';\n};\n\nlet text = `📊 *Статистика*\\n\\n`;\ntext += `👥 Активных учеников: *${s.activeStudents}*\\n\\n`;\ntext += `📅 *Сегодня:*\\n`;\ntext += `   Занятий: *${s.todayLessons}*\\n`;\nif (s.todayPending > 0) text += `   🟡 Ожидает: ${s.todayPending}\\n`;\nif (s.todayCompleted > 0) text += `   ✅ Проведено: ${s.todayCompleted}\\n`;\ntext += `\\n`;\ntext += `📈 *За месяц:*\\n`;\ntext += `   Занятий: *${s.monthLessons}*\\n`;\ntext += `   Доход: *${formatMoney(s.monthIncome)}*\\n`;\ntext += `\\n`;\nif (s.uncheckedHomework > 0) {\n  text += `📝 На проверку: *${s.uncheckedHomework}* работ\\n`;\n} else {\n  text += `📝 Все работы проверены ✅\\n`;\n}\n\nreturn [{ json: { text } }];"
      },
      "id": "format-stats",
      "name": "Форматировать статистику",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 740]
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-stats",
      "name": "Отправить статистику",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 740],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.APP_URL}}/api/bot/next-lesson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Bot-Token",
              "value": "={{$env.BOT_API_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-next",
      "name": "Получить следующее занятие",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 920]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst l = data.lesson;\n\nif (!l) {\n  return [{ json: { text: '⏰ *Следующее занятие*\\n\\nНет запланированных занятий.' } }];\n}\n\nconst formatTime = (min) => {\n  if (min < 60) return `${min} мин`;\n  const h = Math.floor(min / 60);\n  const m = min % 60;\n  return m > 0 ? `${h} ч ${m} мин` : `${h} ч`;\n};\n\nlet text = `⏰ *Следующее занятие*\\n\\n`;\ntext += `👤 *${l.student}*\\n`;\ntext += `📚 ${l.subject}\\n`;\ntext += `📖 ${l.topic}\\n`;\ntext += `📅 ${l.date} в *${l.time}*\\n`;\ntext += `⏱ ${l.duration} мин\\n\\n`;\n\nif (l.minutesUntil <= 60) {\n  text += `🔔 Через *${formatTime(l.minutesUntil)}*!`;\n} else {\n  text += `⏳ Через ${formatTime(l.minutesUntil)}`;\n}\n\nreturn [{ json: { text } }];"
      },
      "id": "format-next",
      "name": "Форматировать следующее",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 920]
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-next",
      "name": "Отправить следующее",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 920],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "🤔 Неизвестная команда.\n\nИспользуйте /start для списка доступных команд.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-unknown",
      "name": "Неизвестная команда",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [740, 1100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Определить команду",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить команду": {
      "main": [
        [
          {
            "node": "Приветствие",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получить расписание",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получить учеников",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получить домашку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получить статистику",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получить следующее занятие",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Неизвестная команда",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить расписание": {
      "main": [
        [
          {
            "node": "Форматировать расписание",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать расписание": {
      "main": [
        [
          {
            "node": "Отправить расписание",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить учеников": {
      "main": [
        [
          {
            "node": "Форматировать учеников",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать учеников": {
      "main": [
        [
          {
            "node": "Отправить учеников",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить домашку": {
      "main": [
        [
          {
            "node": "Форматировать домашку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать домашку": {
      "main": [
        [
          {
            "node": "Отправить домашку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить статистику": {
      "main": [
        [
          {
            "node": "Форматировать статистику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать статистику": {
      "main": [
        [
          {
            "node": "Отправить статистику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить следующее занятие": {
      "main": [
        [
          {
            "node": "Форматировать следующее",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать следующее": {
      "main": [
        [
          {
            "node": "Отправить следующее",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Telegram",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Твой Вектор",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "pinData": {}
}
